@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
	font-display: swap;
}

/* @font-face {
	font-family: 'Monofett';
	src: url('./assets/fonts/Monofett-Regular.ttf');
} */

body {
	font-family: 'Montserrat';
	@apply dark:font-light text-gray-700 dark:text-white transit tracking-widest;
}

.transit {
	@apply transition-all duration-300 ease-linear;
}

.nsb::-webkit-scrollbar {
	display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nsb {
	-ms-overflow-style: none !important; /* IE and Edge */
	scrollbar-width: none !important; /* Firefox */
}
